<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="test/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="AssertChain Test Suite">
            <directory suffix="Test.php">test/AssertChain/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>.</directory>
            <exclude>
                <directory>./test</directory>
                <directory>./vendor</directory>
                <directory>./build</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
